body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: left;
}

.search-places-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-places-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-places-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.theList {
  position: relative;
  z-index: 99999;
  list-style: none;
  margin-top: 90px;
  padding-left: 0;
  width: 250px;
}

.theList li {
  color: #333;
  background-color: rgba(255,255,255,.7);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .3s ease-out;
}

.theList li:hover {
  background-color: pink;
  cursor: pointer;
}

ul.theList {
  padding: 0;
}
